@import "local-variables";
@import "global-variables";
.main-menu-wide{
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 99999;
  width: 100%;
  background: $learnify-blue;
  height: 50px;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}

.menu-height{
  height: 50px;
}
.main-menu-thin{
  transition: all 1s;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 300px;
  background: white;
  height: 100%;
  display: none;
  overflow: hidden;
  z-index: 100000000;

}

.main-menu-thin-footer{
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.main-menu-inactive{
  left: -300px;
}
.main-menu-link-old{
  font-weight: 500;
  font-size: 18px;
  background: url($background);
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main-menu-item{
  cursor: pointer;
  height: 100%;
  background: transparent;
}

.main-menu-item:hover{

  .main-menu-link{
    background: white;
    color: $green;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




/* Tablets */
@media only screen and (max-width : 992px) {
  .main-menu-thin{
    display: block;
  }
  .main-menu-item{
    width: 100%;
    height: auto;
    text-align: center;
  }
}


#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 0.25s ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0px;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


